name: CI Pipeline

on:
  push:
    branches: [green]
  pull_request:
    branches: [green]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.9"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r "requirements.txt"

      - name: verificar formatacao com black
        run: |
          source venv/bin/activate
          black --check .

      - name: verificar estilo com flake8
        run: |
          source venv/bin/activate
          flake8 .

      - name: Realizar pytest
        run: |
          source venv/bin/activate
          pip install pytest
          pytest
